<nav class="page-breadcrumb">
    <h2 style="font-size: 30px;" class="page-title">ÓRDENES DE COMPRA</h2>
  </nav>
  
  
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 style="font-weight: 500; font-size: 16px;" class="card-title">BUSQUEDA PERSONALIZADA</h6>
          <form>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="">FECHA DE INICIO</label>
                  <div>
                    <input id="fecha1" type="date" class="form-control" #fecha1>
                  </div>
                </div>
              </div><!-- Col -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="">FECHA FINAL</label>
                  <div>
                    <input id="fecha2" type="date" class="form-control" #fecha2>
                  </div>
                </div>
              </div><!-- Col -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="almacen">ALMACÉN</label>
                  <div>
                    <select id="almacenes" class="form-control" name="almacen" [(ngModel)]="selectedAlmacen.id_ALMACEN"
                      (ngModelChange)="handleAlmacenChange($event)" #almacen>
                      <option *ngFor="let almacen of almacenes" value={{almacen.id_ALMACEN}}>{{almacen.nom_ALMACEN}}
                      </option>
                    </select>
                  </div>
                </div>
              </div><!-- Col -->
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="sector">SECTOR</label>
                  <div>
                    <select id="sector" class="form-control" [(ngModel)]="selectedSector.id_SECTOR"
                      name="sector" #sector>
                      <option *ngFor="let sector of sectores" value={{sector.id_SECTOR}}>
                        {{sector.nom_SECTOR}}</option>
                    </select>
                  </div>
                </div>
              </div><!-- Col -->
            </div>
            <div class="row">
              <div *ngIf="authService.hasRole('ROLE_ADMIN'||'ROLE_LOGISTICA')" class="col-sm-6">
                <div class="form-group">
                  <button style="font-weight: 500; font-size: 14px;" type="button" class="btn btn-block btn-dark"
                  [routerLink]="['/generaloc/formordencompra']"><i class="fa fa-user-plus"></i> CREAR ORDEN DE COMPRA</button>
                </div>
              </div><!-- Col -->
              <div class="col-sm-6">
                <div class="form-group">
                  <button style="font-weight: 500; font-size: 14px;" type="submit" class="btn btn-block btn-dark"
                    role="button"
                    (click)="filtrarOrdenCompras(sector.value, almacen.value,fecha1.value, fecha2.value)">BUSCAR</button>
                </div>
              </div><!-- Col -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table id="ordencompras" class="table table-bordered table-dark table-hover text-center">
                    <thead class="bg-primary">
                      <tr>
                        <th class="text-dark">Fecha</th>
                        <th class="text-dark">Nro. Orden</th>
                        <th class="text-dark">Almacén</th>
                        <th class="text-dark">Sector</th>
                        <th class="text-dark">Responsable</th>
                        <th class="text-dark">Proveedor</th>
                        <th class="text-dark">Tipo Transacción</th>
                        <th class="text-dark">Total</th>
                        <th class="text-dark">Estado</th>
                        <th class="text-dark" *ngIf="authService.hasRole('ROLE_ADMIN'||'ROLE_LOGISTICA')">Anular</th>
                        <th class="text-dark" *ngIf="authService.hasRole('ROLE_ADMIN'||'ROLE_GERENTE')">Aprobar</th>
                        <th class="text-dark" *ngIf="authService.hasRole('ROLE_ADMIN'||'ROLE_JEFE' ||'ROLE_ALMACEN')">Despachar</th>
                        <th class="text-dark">Imprimir</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ordencompra of ordencompras">
                        <td>{{ordencompra.fecha}}</td>
                        <td>{{ordencompra.nro_ORDENCOMPRA}}</td>
                        <td>{{ordencompra.sector.id_ALMACEN.nom_ALMACEN}}</td>
                        <td>{{ordencompra.sector.nom_SECTOR}}</td>
                        <td>{{ordencompra.empleado.nombres +" "+ ordencompra.empleado.ape_PAT +" "+
                          ordencompra.empleado.ape_MAT}}
                        </td>
                        <td>{{ordencompra.proveedor.razonsocial}}</td>
                        <td>{{ordencompra.id_TIPOTRANSACCION.nom_TIPOTRANSACCION}}</td>
                        <td>S./ {{ordencompra.total}}</td>
                        <td *ngIf="ordencompra.estado =='N' else elseBlock"><span class="badge bg-danger">ANULADO</span></td>
                        <ng-template #elseBlock>
                          <td *ngIf="ordencompra.estado =='I' else elseifblock"><span class="badge bg-primary">INVENTARIADO</span></td>
                        </ng-template>
                        <ng-template #elseifblock>
                          <td *ngIf="ordencompra.estado =='A' else elseif2block"><span class="badge bg-success">APROBADO</span></td>
                        </ng-template>
                        <ng-template #elseif2block>
                          <td><span class="badge bg-success">PENDIENTE</span></td>
                        </ng-template>
  
                        <td *ngIf="authService.nothasRole('ROLE_ADMIN'||'ROLE_LOGISTICA') else elseButtonroleanular" style="display: none;"></td>
                        <ng-template #elseButtonroleanular>
                        <td *ngIf="ordencompra.estado =='N' else elseButton">
                          <button type="button" class="btn btn-secondary btn-icon btn-sm" disabled="" 
                          ><i class="feather icon-x-square"></i>
                        </button>
                        </td>
                        </ng-template>
                        <ng-template #elseButton>
                          <td> <button type="button" class="btn btn-danger btn-icon btn-sm" name="anular"
                              (click)="anularOrdenCompra(ordencompra)"><i class="feather icon-x-square"></i>
                            </button></td>
                        </ng-template>
  
                        <td *ngIf="authService.nothasRole('ROLE_ADMIN'||'ROLE_GERENTE') else elseButtonroleaprob" style="display: none;"></td>
                        <ng-template #elseButtonroleaprob>
                        <td *ngIf="ordencompra.estado =='N' || ordencompra.estado =='T' || ordencompra.estado =='A' else elseButtonaprob">
                          <button type="button" class="btn btn-success btn-icon btn-sm" disabled="" 
                          ><i class="feather icon-x-square"></i>
                        </button>
                        </td>
                        </ng-template>
                        <ng-template #elseButtonaprob>
                          <td> <button type="button" class="btn btn-success btn-icon btn-sm" name="anular"
                              (click)="aprobarOrdenCompra(ordencompra)"><i class="feather icon-x-square"></i>
                            </button></td>
                        </ng-template>
  
                        <td *ngIf="authService.nothasRole('ROLE_ADMIN'||'ROLE_JEFE'||'ROLE_ALMACEN') else elseButtonroledesp" style="display: none;"></td>
                        <ng-template #elseButtonroledesp>
                        <td *ngIf="ordencompra.estado =='I' || ordencompra.estado =='N'|| ordencompra.estado =='P' else elseButtonDesp">
                          <button type="button" class="btn btn-secondary btn-icon btn-sm" disabled="" 
                          ><i class="feather icon-check-square"></i>
                        </button>
                        </td>
                      </ng-template>
                        <ng-template #elseButtonDesp>
                          <td> <button type="button" class="btn btn-success btn-icon btn-sm" name="anular"
                              (click)="despacharOrdenCompra(ordencompra)"><i class="feather icon-check-square"></i>
                            </button></td>
                        </ng-template>
                        <td><button type="button" class="btn btn-primary btn-icon btn-sm"
                          (click)="createPDFOrdenCompra(ordencompra)" name="visualizar"><i
                            class="feather icon-printer"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
          </form>
        </div>
      </div>
    </div>
  </div>