<div class="row">
    <div class="col-xl-12 main-content pl-xl-4 pr-xl-5">
        <h2 style="font-size: 30px;" class="page-title">EDITAR PASSWORD</h2>

        <div class="alert alert-danger alert-dismissible"
            *ngIf="passwordnew.invalid && (passwordnew.dirty || passwordnew.touched)">
            <div *ngIf="passwordnew.errors.required">
                El nuevo password es requerido
            </div>
            <div *ngIf="passwordnew.errors.minlength">
                El nuevo password debe tener mas de 6 caracteres
            </div>

        </div>



        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <form #role="ngForm">

                            <div class="form-group">
                                <div class="form-group">
                                    <label for="password">NUEVA CONTRASEÑA</label>
                                <div>
                                    <input type="password" class="form-control"
                                    #passwordnew="ngModel" required minlength="6"
                                    name="password" 
                                    [(ngModel)]="usuario.password" name="password" placeholder="Ingresa tu nueva Contraseña">
                                </div>
                                </div>
                            </div>                                                                         
                            <div class="row">
                                <div class="col-md-12 stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <input style="font-weight: 500; font-size: 14px;"
                                                                type="submit" value="ACTUALIZAR"
                                                                class="btn btn-block  btn-outline-primary"
                                                                (click)='password()'>
                                                        </div>
                                                    </div><!-- Col -->
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <input style="font-weight: 500; font-size: 14px;"
                                                                type="submit" value="VOLVER"
                                                                class="btn btn-block btn-outline-danger"
                                                                routerLink="/generalus/usuario">
                                                        </div>
                                                    </div><!-- Col -->
                                                </div><!-- Row -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>